*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    border: none;
    width: 100%;
}

.asidebar{
    border: 1px solid red;
    border: none;
    width: 24.5%;
    height: 100vh;
    margin-left: 5.2%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    background: #f2f3f7;
}

.section{
    border: 1px solid blue;
    border: none;
    width: 65%;
    height: 200vh;
    margin-left: 24%;
}

.profilepic{
    border: 1px solid black;
    border: none;
    border-radius: 50%;
    width: 52%;
    height: 100vh;
    background-image: url(images/WhatsApp\ Image\ 2025-10-14\ at\ 11.04.42_83648175.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 14%;
    padding: 80px 0px;
}

.asidebar h2 {
    margin-top: 10%;
    
}

.asidebar span{
     color: #2c98f0;
}
.info{
    text-transform: uppercase;
    padding-top: 1%;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}

.asidebar a{
    text-decoration: none;
    color: black;
    margin-top: 5%;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    
}

.asidebar a::before{
    content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   border-bottom: 2px solid  #2c98f0;
   transition: 0.4s linear;
}

.asidebar a:hover::before{
    width: 100%;
}
.copy{
    margin-top: 7%;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}

.copy a{
    color: #2c98f0;
}

.unsplash{
     color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}

.unsplash a{
     color: #2c98f0;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(images/img_bg_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid brown;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 7%;
}

.header h1{
        margin-bottom: 20px;
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;

}

.header p{
     color: rgba(0, 0, 0, 0.7);
     font-size: 21px;
     letter-spacing: 1.5px;
     line-height: 30px;
}

.header button{
    padding: 12px 32px;
    margin-top: 7%;
    text-transform: uppercase;
    border: 1px solid black;

}

.header span{
     color: #2c98f0;
}

.about{
     color: rgba(0, 0, 0, 0.7);
     font-size: 13px;
     letter-spacing: 5px;
     text-transform: uppercase;
     margin-top: 25%;
     padding-left: 4%;
}

.who{
     padding-left: 3.8%;
     padding-top: 2%;
      letter-spacing: 5px;
     text-transform: uppercase;
     font-size: 22px;
}

.para1{
      color: rgba(0, 0, 0, 0.7);
     font-size: 16px;
     letter-spacing: 1px;
     line-height: 25px;
     margin-top: 10%;
     padding-left: 4%;
}

.para2{
    color: rgba(0, 0, 0, 0.7);
      font-size: 16px;
     letter-spacing: 1px;
     line-height: 25px;
     margin-top: 2.7%;
     padding-left: 4%;
}